- title "Pages"

= form_tag pages_path, :method => 'get', :id => 'pages_search', :autocomplete => 'off' do 
  %p
    = text_field_tag :search, params[:search] 
    = image_submit_tag "search.png", :name => nil, :title => "Search"
  #pages 
    = render 'pages'
